@import "../../scss/settings.scss";

.c-number-badge {
  align-content: center;
  align-items: center;
  background-color: s-color("trout");
  border-radius: 100%;
  border: 4px solid s-color("white");
  display: flex;
  height: 40px;
  justify-content: center;
  justify-items: center;
  width: 40px;
  margin: 0 5px;
  transition: 200ms all;

  &__number {
    margin: 0 auto;
  }
}
